*.idea
.vscode
.DS_Store
example/file/001-cert-manager-cert-manager-kube-system-resources-base.yaml
example/file/002-cert-manager-cert-manager-crds-base.yaml
example/file/003-cert-manager-overlays-self-signed.yaml
example/file/004-istio-1-9-0-istio-crds-base.yaml
example/file/005-istio-1-9-0-istio-namespace-base.yaml
example/file/006-istio-1-9-0-istio-install-base.yaml
example/file/007-oidc-authservice-oidc-authservice-base.yaml
example/file/008-dex-overlays-istio.yaml
example/file/009-knative-knative-serving-crds-base.yaml
example/file/010-knative-knative-serving-install-base.yaml
example/file/011-knative-knative-eventing-crds-base.yaml
example/file/012-knative-knative-eventing-install-base.yaml
example/file/013-istio-1-9-0-cluster-local-gateway-base.yaml
example/file/014-kubeflow-namespace-kubeflow-namespace-base.yaml
example/file/015-kubeflow-roles-kubeflow-roles-base.yaml
example/file/016-istio-1-9-0-kubeflow-istio-resources-base.yaml
example/file/017-pipeline-env-platform-agnostic-multi-user.yaml
example/file/018-kfserving-overlays-kubeflow.yaml
example/file/019-katib-installs-katib-with-kubeflow.yaml
example/file/020-centraldashboard-overlays-istio.yaml
example/file/021-admission-webhook-overlays-cert-manager.yaml
example/file/022-jupyter-overlays-istio.yaml
example/file/023-jupyter-overlays-kubeflow.yaml
example/file/024-profiles-overlays-kubeflow.yaml
example/file/025-volumes-web-app-overlays-istio.yaml
example/file/026-tensorboard-overlays-kubeflow.yaml
example/file/027-tensorboard-overlays-istio.yaml
example/file/028-tf-training-overlays-kubeflow.yaml
example/file/029-pytorch-job-overlays-kubeflow.yaml
example/file/030-mpi-job-overlays-kubeflow.yaml
example/file/031-mxnet-job-overlays-kubeflow.yaml
example/file/032-xgboost-job-overlays-kubeflow.yaml
example/file/033-user-namespace-user-namespace-base.yaml
example/__pycache__/replace.cpython-39.pyc
__pycache__/replace.cpython-39.pyc
